html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  transition: background-color 0.3s ease;
  background-color: #f0f0f0;
}

#header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 24px;
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-app-region: drag;
  user-select: none;
  z-index: 10;
}

#minimize-button {
  position: absolute;
  top: 4px;
  left: 4px;
  background-color: #9b9b9b;
  border: none;
  width: 16px;
  height: 16px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-app-region: no-drag;
  border-radius: 50%;
}

#minimize-button:hover {
  background-color: #ffbd44;
}

body.dark-theme #minimize-button {
  background-color: #444;
}

body.light-theme #minimize-button {
  background-color: #9b9b9b;
}

body.dark-theme #minimize-button:hover {
  background-color: #ffbd44;
}

body.light-theme #minimize-button:hover {
  background-color: #ffbd44;
}

body.dark-theme {
  background-color: #1e1e1e;
}

body.light-theme {
  background-color: #ffffff;
}

#container {
  width: 100%;
  height: calc(100vh - 28px);
  overflow: hidden;
  position: absolute;
  top: 28px;
  left: 0;
}

.monaco-scrollable-element>.scrollbar,
.monaco-scrollable-element>.scrollbar.vertical {
  display: none !important;
}
